<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注册Address-->
    <bean id="address" class="com.msj.pojo.Address">
        <property name="address" value="云南丽江"/>
    </bean>

    <bean id="student" class="com.msj.pojo.Student">
        <!--普通值的值注入：直接使用value就可以了-->
        <property name="name" value="小马呀"/>

        <!--第二种，bean注入,ref
        name:指的是student中属性address，ref引用上面注册的Address的id，即address
        -->
        <property name="address" ref="address"/>

        <!--第三种，数组注入:array-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演绎</value>
            </array>
        </property>

        <!--list注入：list-->
        <property name="hobbies">
            <list>
                <value>听歌</value>
                <value>看电影</value>
                <value>听音乐</value>
                <value>骑行</value>
            </list>
        </property>

        <!--map注入：map,entry：键值对-->
        <property name="card">
            <map>
                <entry key="身份证" value="531264856512456413"/>
                <entry key="银行卡" value="111111222222233333"/>
                <entry key="学号" value="202020312452"/>
            </map>
        </property>

        <!--Set注入：set普通value-->
        <property name="games">
           <set>
               <value>英雄联盟</value>
               <value>王者荣耀</value>
               <value>和平精英</value>
               <value>阴阳师</value>
           </set>
        </property>

        <!--null值注入-->
        <property name="wife">
            <null/>
        </property>

        <!--Properties(配置类型注入):键值对，与map的区别，键在尖括号
        中，值在尖括号外-->
        <property name="info">
            <props>
                <prop key="学号">201905253316</prop>
                <prop key="性别">女性</prop>
                <prop key="姓名">lemon</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>
</beans>