<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <!--使用了mybatis-spring时，可以将别名和设置留在mybatis的核心配置文件中-->
    <!--别名-->
    <typeAliases>
        <package name="com.msj.pojo"/>
    </typeAliases>

    <!--设置-->
</configuration>