<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注解驱动生效-->
    <context:annotation-config/>

    <!--除了上面的方法使注解生效，还可以使用扫描的方式，区别使扫描的方式
    是spring特有的，annotation-config即可以是spring的注解生效，同时也可以使
    Java的注解生效
    扫描包机制：指定的包下的注解会生效
    -->
    <context:component-scan base-package="com.msj.dao"/>

</beans>