<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- <bean id="cat" class="com.msj.pojo.Cat"/>
    <bean id="dog" class="com.msj.pojo.Dog"/>
    &lt;!&ndash;自动装配：autowire
    byName:会自动在容器上下文中查找和自己对象set方法后面的值对应的bean的id
    下面的代码就会去查找people对象中set方法后面的Dog,Cat对应的bean的id，其中在上下文中找到
    id="cat" 和 id="dog"的对象，因此就自动装配了。这里大小写不影响。
    但如果把id="dog"改为id="dog11122"等，则自动装配会失败
    &ndash;&gt;
    <bean id="people" class="com.msj.pojo.People" autowire="byName">
        <property name="name" value="msj"/>
    </bean>
    -->
    <!--注册bean-->
    <bean id="cat1" class="com.msj.pojo.Cat"/>
    <bean id="dog1" class="com.msj.pojo.Dog"/>
    <bean id="cat2" class="com.msj.pojo.Cat"/>
    <bean id="dog2" class="com.msj.pojo.Dog"/>
    <bean id="people" class="com.msj.pojo.People"/>
</beans>